@import "./variables";
@import "./input";
@import "./submit";
@import "./background";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 12em;
}

.equation {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 10px;

  .sign {
    height: auto;
    display: flex;
    align-items: center;
    font-size: 40px;
  }
}

#game-title {
  font-size: 35px;
  color: white;
}
